.panda-slide .carousel-item{
   background-color:#fceae8;
   border-radius: 2em;
}


/* -----------categories----------- */
.categories img{
    width: 100px;
}


/* -------------shoe starts----------------- */
.panda-card {
    border: 0;
}
.panda-card-footer{
    background-color: white;
    border: 0;
}